Source: ros-melodic-shm-transport
Section: misc
Priority: optional
Maintainer: Dev OPS <dev@automodality.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-cv-bridge, ros-melodic-genmsg, ros-melodic-roscpp, ros-melodic-std-msgs
Homepage: http://wiki.ros.org/shm_transport
Standards-Version: 3.9.2

Package: ros-melodic-shm-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-cv-bridge, ros-melodic-roscpp
Description: The shared memory transport package
